---
pageable: true
per_page: 5
---
ruby:
  if paginate
    @pagination_links = {
      current: page_number,
      total: num_pages,
    }
    @pagination_links[:previous] = {href: prev_page.url} if prev_page
    @pagination_links[:next] = {href: next_page.url} if next_page
  end

== partial('partials/index_header', locals: {title: "Posts tagged #{tagname}"})

- for article in page_articles
  == partial('partials/post', locals: {article: article})
